@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.logo-icon {
  position: relative;
  width: 63px;
  height: 26px;
  flex-shrink: 0;
  object-fit: cover;
}
.button-div {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--heading-h1);
  color: var(--black);
  text-align: left;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-4xs) var(--padding-sm);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-div1 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--heading-h1);
  color: var(--white);
  text-align: left;
  display: inline-block;
}
.actions-div,
.button1,
.top-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button1 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-4xs) var(--padding-sm);
  background-color: var(--black);
  box-sizing: border-box;
  justify-content: center;
  opacity: 1;
}
.button1.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.actions-div,
.top-div {
  justify-content: space-between;
}
.actions-div {
  width: 217px;
  flex-shrink: 0;
}
.top-div {
  align-self: stretch;
  background-color: var(--white);
  border-top: 0 solid var(--color-black);
  border-right: 0 solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 0 solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-sm) var(--padding-xl);
}
.elevate-ecommerce-by-messaging,
.explode-conversion-rates-sale {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.elevate-ecommerce-by-messaging {
  font-size: inherit;
  line-height: 120%;
}
.explode-conversion-rates-sale {
  font-size: var(--heading-h4-size);
  line-height: 130%;
}
.actions-div1,
.button2,
.hero-div,
.title-div {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.title-div {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-lg);
}
.actions-div1,
.button2,
.hero-div {
  flex-direction: row;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--black);
  padding: var(--padding-2xs) var(--padding-md);
  background-color: var(--black);
}
.actions-div1,
.hero-div {
  align-self: stretch;
  padding: var(--padding-xs) 0 0;
}
.hero-div {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) 134px;
  gap: var(--gap-lg);
  background-image: url(./public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--heading-h1-size);
}
.connect-to-15-channels-in-real {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.logoschannels-icon {
  position: relative;
  width: 1040px;
  height: 266px;
  flex-shrink: 0;
  object-fit: cover;
}
.logos-div {
  align-self: stretch;
  background-color: var(--white);
  height: 336px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) 200px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: var(--heading-h5-size);
}
.demo-h1,
.see-how-you-can-transform-your {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
  display: inline-block;
}
.demo-h1 {
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
}
.see-how-you-can-transform-your {
  font-size: var(--text-large-normal-size);
  line-height: 150%;
  font-weight: 400;
}
.video-div,
.video-icon {
  align-self: stretch;
  flex-shrink: 0;
  overflow: hidden;
}
.video-icon {
  position: relative;
  max-width: 100%;
  height: 738px;
  object-fit: cover;
}
.video-div {
  height: 983px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  background-image: url(./public/video1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--heading-h2-size);
  color: var(--color-black);
}
.tagline-div {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: none;
}
.capture-emails-phone-numbers,
.capture-leads-h2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.capture-leads-h2 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.capture-emails-phone-numbers {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content-div2,
.section-title-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div2 {
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--heading-h2-size);
}
.section-title-div {
  gap: var(--gap-xs);
}
.icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.capture-contact-information {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.list-item-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.list-div {
  gap: var(--gap-xs);
  text-align: left;
}
.content-div,
.content-div1,
.list-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div1 {
  align-self: stretch;
  gap: var(--gap-md);
}
.content-div {
  flex: 1;
}
.icon-leads {
  position: relative;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  object-fit: cover;
}
.benefit-div {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.sell-faster-b {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  display: inline-block;
}
.layout-239,
.layout-240 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.layout-239 {
  background-image: url(./public/layout--239@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.layout-240 {
  background-color: var(--white);
}
.connect-your-ecommerce-store-t,
.ecommerce-chat-marketing {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
}
.connect-your-ecommerce-store-t {
  margin: 0;
  align-self: stretch;
  font-size: var(--heading-h2-size);
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  color: var(--white);
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.background-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.circle-icon,
.shopify-icon {
  position: absolute;
  height: 62.5%;
  width: 37.01%;
  top: 18.75%;
  right: 31.41%;
  bottom: 18.75%;
  left: 31.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shopify-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}
.shopify-div {
  position: absolute;
  height: 41.67%;
  width: 24.67%;
  top: 29.17%;
  right: 37.58%;
  bottom: 29.17%;
  left: 37.75%;
}
.ecommerce-icons-div {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.connect-your-shopify-store-to,
.shopify-b {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
.connect-your-shopify-store-to {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content-div10 {
  gap: var(--gap-xs);
}
.content-div10,
.content-div9 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.column-div {
  flex: 1;
  height: 394px;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.column-div,
.column-div1,
.content-div11 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-div11 {
  align-self: stretch;
  justify-content: flex-start;
}
.column-div1 {
  flex: 1;
  height: 394px;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-md);
}
.ecommerce-icons-div2 {
  position: relative;
  width: 405.33px;
  height: 240px;
  flex-shrink: 0;
}
.column-div2 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.layout-2401,
.row-div {
  align-self: stretch;
  display: flex;
}
.row-div {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  font-size: var(--heading-h5-size);
  color: var(--white);
}
.layout-2401 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xl) var(--padding-2xl) var(--padding-4xl)
    var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  background-image: url(./public/layout--240@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.actions-div2,
.content-div15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content-div15 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
}
.actions-div2 {
  flex-direction: row;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.action-div,
.column-div3 {
  display: flex;
  align-items: center;
}
.column-div3 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.action-div {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xl) var(--padding-2xl);
  box-sizing: border-box;
  justify-content: center;
  background-image: url(./public/action@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--heading-h2-size);
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--black);
  height: 1px;
  flex-shrink: 0;
}
.one-all-right-reserved,
.privacy-policy-small,
.terms-of-service {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.privacy-policy-small,
.terms-of-service {
  text-decoration: underline;
}
.credits-div1,
.footer-links-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.credits-div1 {
  align-items: center;
}
.container-div,
.credits-div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.credits-div {
  gap: var(--gap-md);
}
.container-div {
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
}
.footer-div,
.one-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-div {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  padding: var(--padding-3xl) 0;
  box-sizing: border-box;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-xs);
}
.one-div {
  position: relative;
  width: 100%;
  align-items: flex-start;
  gap: 0;
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--black);
  font-family: var(--heading-h1);
}
@media screen and (max-width: 768px) {
  .elevate-ecommerce-by-messaging {
    font-size: var(--font-size-2xl);
  }
  .explode-conversion-rates-sale {
    font-size: var(--text-large-normal-size);
  }
  .hero-div {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .connect-to-15-channels-in-real {
    font-size: 14px;
  }
  .logoschannels-icon {
    width: 700px;
    height: 150px;
  }
  .logos-div {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .video-icon {
    width: 100%;
    height: 100%;
  }
  .video-div {
    padding: var(--padding-sm) var(--padding-3xs);
    box-sizing: border-box;
  }
  .icon-leads {
    display: none;
  }
  .column-div,
  .column-div1,
  .column-div2 {
    flex: unset;
    align-self: stretch;
  }
  .row-div {
    flex-direction: column;
  }
  .layout-2401 {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .hero-div,
  .top-div {
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .hero-div {
    padding: var(--padding-sm) var(--padding-3xs) 100px;
  }
  .logoschannels-icon {
    width: 400px;
    height: 100px;
  }
  .logos-div {
    padding: var(--padding-sm) var(--padding-3xs) 0;
    box-sizing: border-box;
  }
  .demo-h1 {
    font-size: var(--font-size-2xl);
  }
  .see-how-you-can-transform-your {
    font-size: var(--text-regular-semi-bold-size);
  }
  .video-div {
    padding: var(--padding-sm) 0;
    box-sizing: border-box;
  }
  .benefit-div,
  .layout-239 {
    padding: var(--padding-lg) var(--padding-3xs);
    box-sizing: border-box;
  }
  .layout-240 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .connect-your-ecommerce-store-t {
    font-size: var(--font-size-2xl);
  }
  .layout-2401 {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .one-all-right-reserved,
  .privacy-policy-small {
    font-size: var(--font-size-2xs);
  }
}
