@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-medium-bold: Roboto;

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-2xs: 12px;
  --text-small-semi-bold-size: 14px;
  --text-regular-semi-bold-size: 16px;
  --text-medium-bold-size: 18px;
  --text-large-normal-size: 20px;
  --heading-h5-size: 24px;
  --font-size-2xl: 30px;
  --heading-h4-size: 32px;
  --heading-h2-size: 48px;
  --heading-h1-size: 56px;

  /* Colors */
  --white: #fff;
  --primary: #333;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-black: #000;

  /* Gaps */
  --gap-0: 0px;
  --gap-4xs: 4px;
  --gap-3xs: 8px;
  --gap-2xs: 12px;
  --gap-xs: 16px;
  --gap-sm: 20px;
  --gap-md: 24px;
  --gap-lg: 32px;
  --gap-xl: 40px;
  --gap-2xl: 48px;
  --gap-3xl: 50px;
  --gap-4xl: 80px;

  /* Paddings */
  --padding-6xs: 8px;
  --padding-5xs: 10px;
  --padding-4xs: 12px;
  --padding-3xs: 16px;
  --padding-2xs: 20px;
  --padding-xs: 24px;
  --padding-sm: 30px;
  --padding-md: 32px;
  --padding-lg: 40px;
  --padding-xl: 64px;
  --padding-2xl: 80px;
  --padding-3xl: 100px;
  --padding-4xl: 112px;
  --padding-5xl: 134px;
  --padding-6xl: 200px;

  /* border radiuses */
  --br-md: 50px;
}
